{% extends "base.html" %}

{% block content %}
<h1>Тамчы системасы</h1>
	<div class="row">
    	<aside class="large-9 columns">
    	  	<a href="/open_stream"><img src="/images/OpenStream.gif" /></a><br>
    	  	<br>
			<a href="/create_stream"><img src="/images/CreateStream.gif" /></a>
    	</aside>
{% endblock %}
{% block urls %}
	<section class="section">
	  <h5 class="title"><a href="/create_stream">Create Stream</a></h5>
	</section>
	<section class="section">
	  <h5 class="title"><a href="/open_stream">Open Stream</a></h5>
	</section>
	<section class="section">
	  <h5 class="title"><a href="/streams">List of Streams</a></h5>
	</section>
	<section class="section">
	  <h5 class="title"><a href="#" onclick="exit('/exit');">Exit</a></h5>
	</section>
{% endblock %}
 
