{% extends "base.html" %}

{% block content %}
<h1> {{ stream.name }} </h1>
<p>Content ID : {{ stream.content_id }}</p>
<p>Source : {{ stream.source }} </p>
<p>Active Peers : {{ stream.connected_peers }} </p>
<p><a href="/file/{{stream.content_id}}?fmt=tamchy">Tamchy-File</a></p>
<p><a href="/file/{{stream.content_id}}?fmt=playlist">Watch Stream (via playlist)</a></p>
<p><a href="/stream/{{stream.content_id}}">Raw Stream</a></p>
<p><a href="/delete/{{stream.content_id}}">Delete Stream</a></p>
{% endblock %}