{% extends "base.html" %}

{% block content %}
	{% for id,name in streams %}
		<p><a href="/streams/{{ id }}/">{{ name }}</a></p>
	{% endfor %}
{% endblock %}

{% block urls %}
	<section class="section">
	  <h5 class="title"><a href="{{ urls.index }}">Index</a></h5>
	</section>
	<section class="section">
	  <h5 class="title"><a href="{{ urls.create_stream }}">Create Stream</a></h5>
	</section>
	<section class="section">
	  <h5 class="title"><a href="{{ urls.open_stream }}">Open Stream</a></h5>
	</section>
	<section class="section">
	  <h5 class="title"><a href="#" onclick="exit('{{ urls.exit}}');">Exit</a></h5>
	</section>
{% endblock %}